@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif; 
}

/* shared styles */


.display-flex{
  display: flex;
}
/* dark-1 */
.dark-1{
  color: #131313;
}
/* dark-2 */
.text-gray{
  color: #424242;
}
/* dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
 
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

.btn-primary{
  border-radius: 8px;
 background-color: rgb(255, 144, 14);
 padding: 20px 25px;
 font-size: 1.5rem;
 font-weight: 600;
 color: white;
 border: none;
 
}
main > section{
  margin-top: 130px;
}
/* header styles */



/* navbar related style */
.navbar{
 justify-content: space-between;
 align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem ;
}


.nav-item{
  list-style: none;
   margin-right: 30px;
}

.nav-link{
  text-decoration: none;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}


/* banner-content style */


.banner-content{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}


/* banner related style */
.banner-title{
font-size: 4rem;
font-weight: 700;
line-height: 75px;
text-align: center;
}

.banner-description{
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: center;
}

.banner-img{
  max-width: 100%;
  margin-bottom: 45px;
}

/* main section styles */
.teams{
  align-items: center;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
}
.teams-img{
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.our-features{
  margin-left: 130px;
  max-width: 530px;


}


#quick-list{
  font-weight: 500;
}

.quick-features{
  color: #FF900E;
}

/* facts card style */
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px ;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 50px;
  margin-right: 5px;
}

.fact-number{
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
font-size: 1.5rem;
font-weight: 600;
color: #727272;
margin-top: 10px;

}
/* responsive banner */

@media screen and (max-width: 576px) {
  .navbar, .nav-links, .teams{
    flex-direction: column;
  } 
  
   .teams-img{
    grid-template-columns: repeat( 1, 1fr);
   }
   .our-features{
    margin-left: 20px;
   }


  
  }


/* medium size device */
  @media screen and (min-width: 576px) and (max-width: 992px){
     .navbar, .teams{
    flex-direction: column;
  } 
   .main{
    margin: 0 auto;
   }
    .our-features{
      margin-left: 50px auto;


    }

    
  }

