@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif; 
}

/* shared styles */
.display-flex{
  display: flex;
}
/* dark-1 */
.dark-1{
  color: #131313;
}
/* dark-2 */
.text-gray{
  color: #424242;
}
/* dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
}

.btn-primary{
  border-radius: 8px;
 background-color: rgb(255, 144, 14);
 padding: 20px 25px;
 font-size: 1.5rem;
 font-weight: 600;
 color: white;
 border: none;
 
}
/* header styles */



/* navbar related style */
.navbar{
 justify-content: space-between;
 align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem ;
}

.nav-links{
 
}

.nav-item{
  list-style: none;
   margin-right: 30px;
}

.nav-link{
  text-decoration: none;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}


/* banner-content style */


.banner-content{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}


/* banner related style */
.banner-title{
font-size: 4rem;
font-weight: 700;
line-height: 75px;
text-align: center;
}

.banner-description{
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: center;
}

.banner-img{
  width: 100%;
}

/* responsive banner */

@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    flex-direction: column;
   }  
}